﻿@model IEnumerable<oneMoreTime.Models.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.depName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.depHead)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.depName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.depHead)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.depId }) |
            @Html.ActionLink("Details", "Details", new { id=item.depId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.depId })
        </td>
    </tr>
}

</table>
